<div class="container-fluid">
    <h1 class="text-center mb-3">Tabela com Input de Texto</h1>
    <div class="form-group text-center">
      <label for="input-text" class="mb-2">Digite um texto:</label>
      <input type="text" class="form-control w-50 mx-auto" id="input-text">
    </div>
    <table class="table"> 
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Texto</th>
        </tr>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td> 
        </tr>
    </table>
  </div>