<div class='content'>
    <h1>Sexo</h1>
    <div class="dpx">
        <div class="d-flex flex-row" [formGroup]="form">
            <div>
                <label>Masculino</label>
                <input type="radio" class="option-input radio mb-2" formControlName="sexo" value="masculino" />
            </div>
            <div>
                <label>Feminino</label>
                <input type="radio" class="mb-2 option-input radio" formControlName="sexo" value="feminino">
            </div>
        </div>
    </div>