<table class="container">
    <thead>
        <tr>
            <th><h1>Calorias</h1></th>
            <th><h1>Carboídratos</h1></th>
            <th><h1>Proteína</h1></th>
            <th><h1>Gordura</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cutting</td>
            <td>120</td>
            <td>52</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Bulking</td>
            <td>7326</td>
            <td>10437</td>
            <td>00:51:22</td>
        </tr>
    </tbody>
</table>